*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}


.card{
    margin-top: 20px;
    width: 402px;
    margin-left: 20px;
}
.card1{
   text-align: center;
}

.iconx{
    margin-top: 30px;
}